.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.header-container {
  background: #5433FF;
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
  position: fixed;
  top: 0%;
  width: 100%;
  color: white;
  height: auto;
}

.App-header {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@media (max-width: 800px){
  .header{
    font-size: 30px !important;
  }
  .detailsContainer {
    display: flex !important;
    flex-direction: column;
    margin-top: 150px !important;
  }
  .cover{
    width: 50% !important;
    margin-bottom: 10px !important;
  }
  .details{
    margin-left: 0 !important;
    padding: 0 !important;
  }
}

.header {
  font-size: 50pt;
  font-weight: bold;
}

.App-link {
  color: #09d3ac;
}

.body-container {
  margin-top: 150px;
}
.comic-list {
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.list-element {
  width: 300px;
  font-style: italic;
  font-size: 12pt;
  color: grey;
  margin-bottom: 25px;
}
.name{
  color: black;
  font-style: normal !important;
}
.comic-cover{
  width: 60%;
  margin-bottom: 5px;
}

.detailsContainer{
  margin-top: 200px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.imageContainer{
align-items: center;
justify-content: center;
display: flex;
}
.cover{
  width: 80%;
  grid-column: 2/ 2;
  grid-row: 1 / 2;
}
.details{
  padding: 5%;
  margin-left: 5%;
  align-items: left;
  width: 100%;
  grid-column: 1/ 2;
  grid-row: 1 / 2;
  box-shadow: 2px 2px 14px 3px #D9D9D9;
}
.comicName{
  font-weight: bold;
  margin-bottom: 5%;
}
.characters{
  align-self: center;
  font-weight: bold;
  color: white;
  width: 100%;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team{
  align-self: center;
  font-weight: bold;
  color: white;
  width: 100%;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.comicloc{
  align-self: center;
  font-weight: bold;
  color: white;
  width: 100%;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.none{
  color: grey;
  font-style: italic;
}